rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /mail/{document=**} {
      allow create: if true;
    }
    match /newsletter/{document=**} {
      allow create: if true;
    }
    match /cta/{document=**} {
      allow create: if true;
    }
  }
}
